.container {
	display: flex;	
	justify-content: flex-end;
}

.jumbotron {
	display: flex;
	align-items: center;
	justify-content: center;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.text-section {
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
}

.text-section div {
	display: flex;
	width: 200px;
	justify-content: center;
	align-items: center;
}

footer {
	display: flex;	
}

.footer2 {
	flex-grow: 2;
	margin: 0 10px;
}
